@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(30deg, #E5EB90, #c9bd90, #cdca85, #d1d779);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
    font-family: "Graindeur";
    src: local('Graindeur'), url("../public/font/graindeur.otf") format('otf');
};